aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border-top: 1px solid var(--gray-800);
    border-bottom: 1px solid var(--gray-800);
    padding: 5rem 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
}

h2 {
    font-size: var(--text-xl);
    text-align: center;
    max-width: 15ch;
}

.footer-reactive {
    border-radius: 34px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Ensure that the hover effects don't affect surrounding elements */
}

.footer-reactive:hover {
    transform: scale(1.03); /* Reduce scale to minimize layout shift */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow */
}

@media (min-width: 50em) {
    aside {
        padding: 7.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h2 {
        font-size: var(--text-3xl);
        text-align: left;
    }
}