---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';
import Carousel from '../components/Carousel.astro';
import '../styles-pages/home.css';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
  .sort((a: { data: { publishDate: { getTime: () => number; }; }; }, b: { data: { publishDate: { getTime: () => number; }; }; }) => b.data.publishDate.getTime() - a.data.publishDate.getTime())
  .slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout
title='Homepage | Primal Advertisement' 
description='Homepage of Ethan Greenes website'
>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hello, my name is Ethan Greene"
					tagline="I'm passionate about creating businesses that genuinely help and support others. With a strong foundation in marketing and sales, my journey has been fueled by a fascination with social media's transformative power. I have a knack for analytics and love turning data into actionable insights. This perfectionist drive pushes me to strive for excellence in everything I do. My entrepreneurial spirit and deep understanding of social media platforms equip me with unique strategies for organic growth and community engagement. Join me as we explore the dynamic world of digital marketing and achieve success together."
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="paintbrush" size="1.33em" /> Content Creator</Pill>
						<Pill><Icon icon="network" size="1.33em" /> Content Manager</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" /> Writer</Pill>
					</div>
				</Hero>

				<img
					alt="Ethan Greene on his graduation day."
					width="480"
					height="620"
					src="/assets/portrait.jpg"
				/>
			</header>

			<Skills />
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Content Break Down</h3>
					<p>Take a look below at how we use each platform to boost your client/customer interactions.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project: any) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="reactive-view-all">
					<div class="cta">
					<CallToAction href="/work/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				    </div>
				</div>
			</section>
			
			<Carousel />
		</main>

		<ContactCTA />
	</div>
</BaseLayout>
