---
import Icon from '../components/Icon.astro';
import '../styles/ContactForm.css';
---

<div class="contact-page stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <div class="hero-content">
          <h1 class="hero-title">Get in Touch</h1>
          <p class="hero-description">
            "I would love the opportunity to connect with you! Whether you have a question, a business inquiry, or simply want to chat, I’m here to listen. Please fill out the form below with your details, and I’ll get back to you as soon as possible. You can also reach me through the contact information provided, and I'll be happy to assist you. Let’s start a conversation and explore how we can work together or how I can help you with your socials."
          </p>
        </div>
        <img
          alt="Contact Us"
          width="480"
          height="620"
          src="/assets/contact.jpg"
        />
      </header>

      <section class="contact-form-section">
        <h2>Contact Me</h2>
        <form class="contact-form" action="https://formspree.io/f/movqqvlv" method="POST">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
          </div>

          <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required />
          </div>

          <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" required></textarea>
          </div>
          <br>
          <div class="form-submit">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </section>

      <section class="contact-details-section">
        <h2>Contact Information</h2>
        <ul class="contact-info">
          <li>
            <Icon icon="envelope" size="1.33em" /> Email: <a href="mailto:ethan@primaladvertisement.com">ethan@primaladvertisement.com</a>
          </li>
          <li>
            <Icon icon="phone" size="1.33em" /> Phone: (086) 175-1012
          </li>
          <li>
            <Icon icon="mapmarker" size="1.33em" /> Location: Co.Galway, Ireland.
          </li>
        </ul>

        <div class="social-media-links">
          <h3>Follow Me</h3>
          <div class="socials">
            <a href="https://x.com/" class="social"><Icon icon="twitter-logo" /></a>
            <a href="https://www.youtube.com" class="social"><Icon icon="youtube-logo" /></a>
            <a href="https://www.instagram.com/itsethpgreene/" class="social"><Icon icon="instagram-logo" /></a>
          </div>
        </div>
      </section>
    </div>
  </div>
