---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside>
	<h2>Interested in working together?</h2>
	<div class="footer-reactive">
		<CallToAction href="mailto:ethan@primaladvertisement.com?subject=Interested%20in%20collaborating&body=Hi%20Ethan%2C%0A%0AI%20have%20had%20a%20look%20through%20your%20website,%20and%20am%20interested%20in%20working%20with%20you.%20Could%20we%20schedule%20a%20time%20to%20discuss%20further%3F%0A%0AThanks%2C%0A%5BYour%20Name%5D">
		Send Me a Message
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
</div>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
		padding: 5rem 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 15ch;
	}

	.footer-reactive {
		border-radius: 34px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative; /* Ensure that the hover effects don't affect surrounding elements */
	}

	.footer-reactive:hover {
		transform: scale(1.03); /* Reduce scale to minimize layout shift */
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow */
	}

	@media (min-width: 50em) {
		aside {
			padding: 7.5rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
			text-align: left;
		}
	}
</style>
