---
interface Props {
	title: string;  // Required prop for the main title of the component.
	tagline?: string; // Optional prop for a supporting tagline below the title.
	align?: 'start' | 'center'; // Optional prop to define text alignment ('start' for left-aligned, 'center' for centered).
}

const { align = 'center', tagline, title } = Astro.props; // Destructure props with default value for 'align' set to 'center'.
---

<!-- Main container with dynamic class list based on alignment -->
<div class:list={['hero stack gap-4', align]}>
	<!-- Nested container for the title and tagline -->
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
	<slot />
</div>

<!--styling for hero section -->
<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
