---
import Icon from './Icon.astro'; // Import the custom Icon component to render visually consistent icons.
import '../styles/Skills.css';
---

<!-- Skills section container -->
<section class="box skills">
	<!-- Skill 1: Degree -->
	<div class="stack gap-2 lg:gap-4">
		<!-- Hat icon representing education, styled dynamically -->
		<Icon icon="hat" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Degree</h2>
		<p>Bachelor of Business with Marketing and Sales.</p>
	</div>

	<!-- Skill 2: Experience -->
	<div class="stack gap-2 lg:gap-4">
		<!-- Trophy icon symbolizing achievement or experience -->
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Experience </h2>
		<p>Helped numerous online coaches boost their sales through the use of social media platforms.</p>
	</div>

	<!-- Skill 3: Strategy-Minded -->
	<div class="stack gap-2 lg:gap-4">
		<!-- Strategy icon reflecting planning and expertise -->
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>Through social media management and content creation, I help struggling business boost engagement using various social media strategies to reach their target market</p>
	</div>
</section>