---
import Icon from './Icon.astro';
import '../styles/Skills.css';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="hat" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Degree</h2>
		<p>Bachelor of Business with Marketing and Sales.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Experience </h2>
		<p>Helped numerous online coaches boost their sales through the use of social media platforms.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>Through social media management and content creation, I help struggling business boost engagement using various social media strategies to reach their target market</p>
	</div>
</section>