---
import Icon from './Icon.astro';
import '../styles/ThemeToggle.css';
---

<theme-toggle>
  <button>
    <span class="sr-only">Dark theme</span>
    <span class="icon light"><Icon icon="sun" /></span>
    <span class="icon dark"><Icon icon="moon-stars" /></span>
  </button>
</theme-toggle>

<script src="/src/scripts-Comps/theme-toggle.js"></script>