---
import Icon from './Icon.astro'; // Import the custom Icon component for displaying the sun and moon icons.
import '../styles/ThemeToggle.css'; // Import the CSS file for styling the theme toggle component.
---

<theme-toggle>
  <button>
    <span class="sr-only">Dark theme</span>
    <span class="icon light"><Icon icon="sun" /></span>
    <span class="icon dark"><Icon icon="moon-stars" /></span>
  </button>
</theme-toggle>

<!-- Include the theme toggle JavaScript -->
<script src="/src/scripts-Comps/theme-toggle.js"></script>